@import url("./css/bloco-pesquisa.css");
@import url("./css/book-container.css");
@import url("./css/cards.css");
@import url("./css/header.css");
@import url("./css/modal.css");

@font-face {
    font-family: AmaticBold;
    src:  local('AmaticBoldSC'), url(./font/AmaticSC-Bold.ttf);      
}
@font-face {
    font-family: "SourceSans";
    src: url("./font/SourceSansPro-Regular.ttf")
}
*{
    margin:0;
    padding:0;
}
body {
    background-color: #607d8b;
    font-family: "SourceSans", "Liberation Sans", sans-serif;
    position: relative;
}

.mb-6 {
    margin-bottom: 10rem;
}
.mt-6 {
    margin-top: 10rem;
}