

@font-face {
    font-family: AmaticBold;
    src:  local('AmaticBoldSC'), url(./font/AmaticSC-Bold.ttf);      
}
@font-face {
    font-family: "SourceSans";
    src: url("./font/SourceSansPro-Regular.ttf")
}
*{
    margin:0;
    padding:0;
}
body {
    background-color: #607d8b;
    font-family: "SourceSans", "Liberation Sans", sans-serif;
    position: relative;
}

/* -------------------------------------------- header -------------------------------------------- */

.navbar {
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 600;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.navbar-brand {
    font-family: AmaticBold;
    font-size: 30px;
}

/*-------------------------------------- bloco com os livros -------------------------------------- */

.livros {
    background-color: #eceff1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.carrousel_head {
    display: flex;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.carrousel_head p{
    margin: auto 20px;
    font-weight: 600;
    font-family: AmaticBold;
    font-size: 25px;
}
.bg-cor1 {
    background-color:#2196F3;
}
.cor1 {
    color: #ffffffdb !important;
}
.cor2{
    color: #17191bea !important;
}

/*---------------------------------------- bloco de pesquisa ---------------------------------------*/

.blocopesquisa {
    display: flex;
    border-radius: .5rem;
    flex-direction: column;
}
.tipodepesquisa {
    display: flex;
    flex-direction: column;
}
.tipodepesquisa .pesquisainput {
    padding: 2rem 1rem 0 1rem;
    margin: 0 auto 0 auto;
}
.pesquisainput h3 {
    font-family: AmaticBold;
}
.radionContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tipodepesquisa .radiobtn {
    margin: .3rem 0 0 .3rem;
    cursor: pointer;
    width: 8.2rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.radionContainer .form-check .form-check-input {
    float: left;
    margin-left: 0;
}
.radiobtn label {
    cursor: pointer;
}
.blocopesquisa input {
    width: 27.5rem;
}
.blocopesquisa .inputArea {
    margin: auto;
}
.blocopesquisa #pesquisaTxt {
    margin: 1.5rem auto 3rem auto;
}
.blocopesquisa .form-inline {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.blocopesquisa.form-inline .btn {
    margin-left: .5rem;
}
#searchInput {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
    border: 0px;
}
@media screen and (max-width: 768px) {
    #searchInput {
        width: 19rem;
    }
}
@media screen and (max-width: 575px) {
    #searchInput {
        width: initial;
    }
}
#searchBtn {
    margin-left: .25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}


/*-------------------------------------------- cards --------------------------------------------*/

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: .6rem;
    padding: 1rem 0 1.5rem 0;
}
.cartao {
    cursor: pointer;
    height: 200px;
    width: 297px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-top: 10px;
    background-color: #eeeeee;
    display: flex;
    overflow: hidden;
}
@media screen and (max-width: 1200px) {
    .cartao {
        width: 450px;
    }
}
@media screen and (min-width: 1201px) {
    .cartao {
        width: 357px;
    }
}
@media screen and (min-width: 1400px) {
    .cartao {
        width: 415px;
    }
}
@media screen and (max-width: 991px) {
    .cartao{
        width: 330px;
    }   
}
@media screen and (max-width: 767px) {
    .cartao {
        width: 100%;
    }
}
.cartao:hover, .cartao:focus {
    opacity: .75;
}
.card_imagem {
    display: flex;
    background-color: #263238;
}
.card_imagem img{
    width: 130px;
    height: 180px;
    margin: auto;
}
.card_titulo {
    height: 60px;
    overflow: hidden;
    background-color: #cfd8dc;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
    display: flex;
}
.card_titulo p {
    margin: auto;
}
@media screen and (max-width: 767px) {
    .card_titulo p {
        margin: 0 auto;
    }
}
.card_descricao {
    display: flex;
    padding: 5px 10px;
    height: 135px;
}
.card_descricao p {
    display: flex;
    margin: auto;
}
.container-p {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
@media screen and (max-width: 768px) {
    .container-p {
        width: 100%;
    }
}
@media screen and (min-width: 768px) {
    .container-p {
        width: 600px;
    }
}

/*-------------------------------------------- modal --------------------------------------------*/

.modalLivro {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(171,186,200, .9);
    display: none;
    opacity: 0;
    transition: all .5s ease-in-out;
}
.modalLivro .livroContainer {
    margin: auto;
    position: fixed;
    left: 50%;
    top: 20%;
    transform: translate(-50%, 0);
    background-color: white;
    border-radius: .5rem !important;
}
.modalHead {
    background-color: #cfd8dc;
    padding: 1.5rem;
    font-size: 1.2rem;
    border-radius: .4rem .4rem 0 0 !important;
}
.blocoImgDes {
    display: flex;
}

#linkDoLivro {
    display: none;
}

.fechar {
    position: absolute;
    right: -7px;
    top: -7px;
    width: 26px;
    height: 26px;
    background-color: #dd2c00;
    border-radius: 50%;
    opacity: 1;
    cursor: pointer;
    transition: all .3s;
    display: flex;
}
.fechar:hover {
    background-color: #ff3d00;    
}

.fechar_btn {
    margin: auto;
    width: 14px;
    height: 14px;
}