

@font-face {
    font-family: AmaticBold;
    src:  local('AmaticBoldSC'), url(./font/AmaticSC-Bold.ttf);      
}

@font-face {
    font-family: "SourceSans";
    src: url("./font/SourceSansPro-Regular.ttf")
}

*{
    margin:0;
    padding:0;
}

body {
    font-family: "SourceSans", "Liberation Sans", sans-serif;
    background: url(./img/background.jpg);
    background-repeat: repeat;
    background-position: top center;
}

/* ---------------------------------------------- header -------------------------------------------------- */

.navbar {
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 600;
}
.navbar-brand {
    font-family: AmaticBold;
    font-size: 30px;
}

.form-inline {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.form-inline .btn {
    margin-left: .5rem;
}

#navBarInput {
    color: #ffffffd3;
    border-radius: 0;
    border: 0px;
    border-left: 2px solid #ffffff;
    background-clip: initial;
    background-color: #ffffff3d;
}
#navBarInput:focus {
    color: #212529;
    background-color: #ffffffd3;
    box-shadow: none;
}
#navBarSearchbtn {
    padding: 0 0.75rem;
    border-radius: 0;
    height: 36px;
}

/*------------------------------------------ Area de navegacao -------------------------------------------- */

.livros, .temas {
    background-color: #607d8b;
}
.carrousel_head {
    height: 40px;
    display: flex;
}
.carrousel_head p{
    margin: auto 20px;
    font-weight: 600;
    font-family: AmaticBold;
    font-size: 25px;
}
.bg-cor1 {
    background-color:#153eae;
}
.bg-cor2 {
    background-color:#1a237e;
}
.cor1 {
    color: #ffffffdb !important;
}

/*--------------------- bloco de pesquisa --------------------*/

.blocopesquisa {
    display: flex;
    border-radius: .5rem;
    flex-direction: column;
    padding: 0;
}

.tipodepesquisa {
    display: flex;
    flex-direction: column;
}

.tipodepesquisa .pesquisainput {
    padding: 2rem 1rem 0 1rem;
    margin: 0 auto 0 auto;
}
.radionContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tipodepesquisa .radiobtn {
    border: 1px solid;
    margin: .3rem 0 0 .3rem;
    cursor: pointer;
    border: 1px solid #ffffffdb;
    width: 8.2rem;
}
.tipodepesquisa .radiobtn:hover {
    background-color: #ffffff3d;
    border-color: #f8f9fa;
}
.radiobtn label {
    cursor: pointer;
}
.blocopesquisa input {
    width: 22.5rem;
}
.blocopesquisa .addNome {
    margin: auto;
}
.blocopesquisa #pesquisaTxt {
    margin: 1.5rem auto 3rem auto;
    
}

/*----------------------- cards ------------------------------*/

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: .6rem;
}

.cartao {
    cursor: pointer;
    height: 200px;
    width: 297px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-top: 10px;
    background-color: #eeeeee;
    display: flex;
    overflow: hidden;
}

.cartao:hover, .cartao:focus {
    opacity: .75;
}

.card_imagem {
    display: flex;
    background-color: #171332;
}

.card_imagem img{
    width: 130px;
    height: 180px;
    margin: auto;
}

.card_titulo {
    height: 60px;
    overflow: hidden;
    background-color: #dddddd;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
    display: flex;
}

.card_titulo p {
    margin: auto;
}

.card_descricao {
    display: flex;
    padding: 5px 10px;
    height: 135px;
}

.card_descricao p {
    display: flex;
    margin: auto;
}

@media screen and (max-width: 1200px) {
    .cartao {
        width: 450px;
    }
}
@media screen and (min-width: 1201px) {
    .cartao {
        width: 357px;
    }
}
@media screen and (min-width: 1400px) {
    .cartao {
        width: 415px;
    }
}
@media screen and (max-width: 991px) {
    .cartao{
        width: 330px;
    }
    #navbarDropdown {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
    }
    #navDrop{
        margin: auto;
        padding: 10px;
    }
    .dropdown-menu {
        margin: 10px;
        text-align: center;
    }    
}
@media screen and (max-width: 767px) {
    .cartao {
        width: 100%;
    }
    .card_titulo p {
        margin: 0 auto;
    }
}
@media screen and (max-width: 768px) {
    .container-p {
        width: 100%;
    }   
}
@media screen and (min-width: 768px) {
    .container-p {
        width: 600px;
    } 
}
